/* ----------------------------General---------------------- */
.title-white {
  color: white;
}

/* ----------------------------About Me---------------------- */
#about-me {
  display: flex;
  margin: auto;
  width: 80%;
  height: 500px;
}

.photoID-container {
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.photoID {
  height: 100%;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.about-me-container {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 2rem;
}

.about-me-paragraph {
  padding-top: 2rem;
  text-align: justify;
  color:rgb(71, 71, 71);
}


/* ----------------------------SKILLS---------------------- */
#skills {
  background-color: #242424;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-container {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: center;
}

.skills-container2 {
  width: 30%;
}

.skill-title {
  text-align: center;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  border-bottom: solid rgb(156, 156, 156) ;
}

.skill-list {
  padding-top: 1rem;
  list-style-type: none;
  text-align: center;
  color: white;
}

li:not(:last-child) {
  margin-bottom: 1.5rem;
}

.logo {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 2rem 45% 2rem 48%;
}


@media screen and (max-width: 960px) { 
  .skills-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    justify-content: center;
  }
  
  .skills-main-title {
    padding-left: 2rem;
  }

  .skills-container2 {
    margin: auto;
    width: 80%;
  }
}