.projects-title {
  margin-top: 2rem;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.project {
  width: 40%;
  height: 680px !important;
  margin: 2rem;
}

.dropdown {
  margin-bottom: 1rem;
}

.dropdownItem {
  color: black;
}

.dropdown-item.disabled {
  color: black !important;
}

.technology {
  color: white !important;
  padding: 2px;
  margin: 2px;
  
}

.demoBtns {
  margin: 2rem 0.5rem 0;
}

.card-img {
  height: 300px;
}

@media screen and (max-width: 960px) {
  .project {
    width: 80%;
  }
}